@model Avocado.Web.Models.Posts.MyPostsViewModel
@{
    ViewBag.Title = "Creativime";
}
@section Head{
    <link href="@Url.Content("~/Content/css/fileuploader.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div class="row">
        <div class="span16">
            @Html.Partial("_TabNavigation")
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div>
                <h3>Post A New Creation</h3>
                @using(Html.BeginForm("action", "controller", FormMethod.Post, new { id="newPostForm" }))
                {
                    <div><img id="mainImage" class="pic-frame" src="http://placehold.it/500x250&text=upload+your+image" alt="your image" /></div>
                    <p class="row-below">
                        <span id="file-uploader">      
                            <noscript>Please enable JavaScript to use file uploader.</noscript>         
                        </span>
                    </p>
                    <p class="form-input">
                        @Html.LabelFor(x => x.NewTitle, "Title")
                        @Html.TextBoxFor(x => x.NewTitle)
                    </p>
                    
                    <p class="form-input">
                        @Html.LabelFor(x => x.NewDescription, "Description")
                        @Html.TextAreaFor(x => x.NewDescription, 10, 40, new { @class = "profileTextArea" })
                    </p>
                }
                
            </div>
            <hr />
            @foreach (var post in Model.MyPosts)
            {   
                <h4>@post.Title by @post.Account.UserName</h4>
                <div class="row">
                    <div class="span4">
                        <img src="../../Uploads/@post.Account.aspnet_Users.UserId.ToString()/@post.MainImage" alt="post image" />
                    </div>
                    <div class="span8">
                        <div class="alert-message block-message">
                            @post.Description
                        </div>
                        <div>
                            @if (post.Comments.Count > 0)
                            { 
                                <div class="alert-message block-message info">
                                    @foreach (var comment in post.Comments.Take(3))
                                    { 
                                        <div class="comment-block">
                                            <img src="@Url.Content("~/Content/images/man-small.png")" style="margin-right:10px;" class="pull-left" alt="profile pic" />
                                            @comment.Comment1
                                        </div>
                                    }
                                        
                                    @if (post.Comments.Count > 3)
                                    { 
                                        <div style="text-align:center"><a href="#">View All @post.Comments.Count() Comments...</a></div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <hr />
            }
        </div>
        <div class="span4">
            @Html.Partial("_ActivityBar")
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/fileuploader.js")"></script>
    <script type="text/javascript">
        $(function () {
            var uploader = new qq.FileUploader({
                allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                sizeLimit: 7340032,
                minSizeLimit: 1,
                buttonTitle: 'browse...', //text for uploader button
                buttonText: 'Select Image', //title for uploader button
                element: document.getElementById('file-uploader'),
                action: '/Posts/UploadFiles',
                onProgress: function (id, fileName, loaded, total) { },
                onComplete: function (id, fileName, responseJSON) {
                    if (responseJSON.success) {
                        //$('#mainImage').attr('value', fileName);
                        $('#mainImage').attr('src', responseJSON.imgPath);
                        $('.qq-upload-list').empty();
                        //alert('upload completed! the new file path is ' + responseJSON.imgPath);
                    }
                }
            });

            //            $('#message').hide();

            //            $('#closeMessage').click(function () {
            //                $('#message').fadeOut('slow');
            //            });

            //            $('#saveButton').click(function () {
            //                UpdateProfile();
            //            });
        });

        function UpdateProfile() {
            var formData = $("#profileForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Account/UpdateProfile",
                data: formData,
                dataType: "json",
                success: function (data) {
                    if (data.success == true) {
                        $('#message p').html(data.message);
                        $('#message').addClass('success');
                        $('#message').fadeIn('slow');
                        //alert(data.message);
                    }
                    else {
                        $('#message p').html(data.message);
                        $('#message').addClass('error');
                        $('#message').fadeIn('slow');

                        //alert(data.message);
                    }
                }
            });
        }
    </script>
}