@model Avocado.Web.Models.Feed.FeedViewModel
@{
    ViewBag.Title = "Creativime";
    var _imagePath = System.Configuration.ConfigurationManager.AppSettings["AzureStorageUri"];
}

<div class="container">
    <div class="row">
        <div class="span16">
            @Html.Partial("_TabNavigation")
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="main-title-header">
                <h2>Latest Creations From Your Friends</h2>
            </div>
            
            @foreach (var post in Model.MyFeed.OrderByDescending(x => x.InsertDate))
            {   
                <div>
                    <h4 class="pull-left">@post.Title </h4><h6 class="pull-right">by @post.Account.UserName</h6>
                </div>
                
                <div class="row clear">
                    <div class="span5">
                        <img class="pic-frame" src="@_imagePath/@post.Account.UserName.ToLower()/medium/@post.MainImage" alt="post image" />
                    </div>
                    <div class="span7">
                        <div class="alert-message block-message">
                            @post.Description
                        </div>
                        <div>
                            @if (post.Comments.Count > 0)
                            { 
                                <div class="alert-message block-message info">
                                    @foreach (var comment in post.Comments.Take(3))
                                    { 
                                        <div class="comment-block">
                                            <img src="@Url.Content("~/Content/images/man-small.png")" style="margin-right:10px;" class="pull-left" alt="profile pic" />
                                            @comment.Comment1
                                        </div>
                                    }
                                        
                                    @if (post.Comments.Count > 3)
                                    { 
                                        <div style="text-align:center"><a href="#">View All @post.Comments.Count() Comments...</a></div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <hr />
            }
        </div>
        <div class="span4">
            @Html.Partial("_PostButton")
        </div>
    </div>
</div>

