@model Avocado.Web.Models.People.CreativesViewModel
           
@{
    ViewBag.Title = "Creativime";
    string _userName = null;
    string _accountId = null;
    var _imagePath = System.Configuration.ConfigurationManager.AppSettings["AzureStorageUri"];
    
    if (Request.IsAuthenticated)
    {
        _userName = User.Identity.Name.Split('|')[0];
        _accountId = User.Identity.Name.Split('|')[1];
    }
}

@section Head{
    <script src="@Url.Content("~/Scripts/bootstrap-twipsy.js")" type="text/javascript"></script>
}

@section Scripts{
    <script type="text/javascript">
        $('.post-list li').twipsy();
        var buttonClicked;
        $('.follow').live('click',function () {
            buttonClicked = this;
            $.post("/People/Follow?follower=@_userName&followed=" + this.id,
                function (data) {
                    if (data != "") {
                        $(buttonClicked).html('Following').addClass('success').removeClass('follow').addClass('unfollow');
                        $(buttonClicked).hover(function () {
                            $(this).html('Unfollow').removeClass('success').addClass('danger');
                        },
                        function () {
                            $(this).html('Following').removeClass('danger').addClass('success');
                        });
                    }
                    else {
                        alert('there was an error trying to follow');
                    }
                    //$('div#lastPostsLoader').empty();
                });
        });

        $('.unfollow').live('click', function () {
            buttonClicked = this;
            $.post("/People/UnFollow?follower=@_userName&followed=" + this.id,
                function (data) {
                    if (data != "") {
                        $(buttonClicked).html('Follow').removeClass('success danger unfollow').addClass('follow');
                        $(buttonClicked).hover(function () {
                            $(this).html('Follow').removeClass('success danger');
                        },
                        function () {
                            $(this).html('Follow').removeClass('success danger');
                        });
                    }
                    else {
                        alert('there was an error trying to follow');
                    }
                });
            });

        $('.unfollow').hover(function () {
            $(this).html('Unfollow').removeClass('success').addClass('danger');
            },
            function () {
                $(this).html('Following').removeClass('danger').addClass('success');
            });


    </script>
}

<div class="container">
    <div class="row">
        <div class="span16">
            @Html.Partial("_TabNavigation")
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <!--main content goes here-->
            <h1 style="font-weight:normal;">Get to know the creative community!</h1>

            @foreach (var account in Model.Accounts) 
            { 
                <section id="@account.UserName" class="row-item">
                    <div class="row">
                        <div class="span2">
                            @if (account.ProfileImage != null)
                            {
                                <a href="People/ViewWork/@account.UserName"><img src="@_imagePath/@account.UserName.ToLower()/profile/@account.ProfileImage" alt="profile pic" class="avatar-large pic-frame" /></a>
                            }
                            else
                            { 
                                <a href="People/ViewWork/@account.UserName"><img src="../../Content/images/user-large.png" alt="profile pic" class="avatar-large" /></a>
                            }
                            <br />
                            
                            
                            @if (Request.IsAuthenticated)
                            {
                                if (account.Followed.Any(x => x.FollowerAccountId == Convert.ToInt32(_accountId)))
                                {
                                    <button id="@account.UserId" class="success btn unfollow" style="width:95px; margin-bottom:5px;">Following</button>
                                }
                                else
                                { 
                                    <button id="@account.UserId" class="btn follow" style="width:95px; margin-bottom:5px;">Follow</button>
                                }

                            }
                            else
                            {
                                <button id="loginToFollowButton" class="info btn modal-button" style="width:95px; margin-bottom:5px;">Sign In to Follow</button>
                            }
                            
                            @if (account.FullName != null)
                            { 
                                <div class="xxsmall">@account.FirstName @account.LastName</div>
                            }
                            
                            @if (account.City != null)
                            {
                                <div class="xxsmall">South Weber, UT, USA</div><br />
                            }
                            
                        </div>
                        <div class="span3">
                            <h4><a href="People/ViewWork/@account.UserName">@account.UserName</a></h4>
                            
                            @*<ul class="stats-list">
                                <li><a href="People/ViewWork/@account.UserName">@account.Posts.Count() Posts</a></li>
                                <li><a href="#">@account.Followed.Count() Followers</a></li>
                                <li><a href="#">@account.Following.Count() Following</a></li>
                                <li><a href="#">@Model.Sparks sparks</a></li>
                            </ul>*@

                            <div class="clear pull-left" style="padding:0px 0 10px 0px;">
                                <a href="People/ViewWork/@account.UserName" class="stats-badge-link">
                                    <div class="stats-badge stats-badge-small posts pull-left">
                                        @account.Posts.Count()<br />
                                        <span>Posts</span>
                                    </div>
                                </a>
                                <a href="#" class="stats-badge-link">
                                    <div class="stats-badge stats-badge-small sparks pull-left">
                                        @Model.Sparks<br />
                                        <span>Sparks</span>
                                    </div>
                                </a>
                                <a href="#" class="stats-badge-link">
                                    <div class="stats-badge stats-badge-small followed pull-left">
                                        @account.Followed.Count()<br />
                                        <span>Followers</span>
                                    </div>
                                </a>
                                <a href="#" class="stats-badge-link">
                                    <div class="stats-badge stats-badge-small following pull-left">
                                        @account.Following.Count()<br />
                                        <span>Following</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="span7">
                            <div class="title-header">Most Popular Creations</div>
                            <ul class="post-list">
                                @foreach (var post in account.Posts.OrderByDescending(p => p.Likes.Count).Where(p => p.Likes.Count > 0).Take(4))
                                { 
                                    <li title="@post.Title">
                                        <a href="/Browse/Category/@post.Category.Name/@post.PostId"><img src="../../Uploads/@post.Account.aspnet_Users.UserId.ToString()/@post.MainImage" alt="" /></a>
                                    </li>
                                }
                            </ul>
                            <div class="clear alert-message block-message">
                                <h5>Specialties & Interests</h5>
                                Ut sit amet tellus in lorem posuere adipiscing in non dolor. Phasellus aliquet, mi quis vulputate ornare, augue justo fermentum odio, at adipiscing nisi purus sit amet est. 
                                Curabitur semper metus vel justo facilisis non faucibus ligula tempus. Donec vitae risus eros, non ultrices urna
                            </div>
                        </div>
                    </div>
                </section>
                <hr />
            }

        </div>
        <div class="span4">
            <!--sidebar content goes here-->
            @Html.Partial("_PostButton")

            <div class="aside">
                @Html.Partial("_ActivityBar")
            </div>
            
        </div>
    </div>
</div>
