@model Avocado.Web.Models.Browse.BrowseViewModel
           
@{
    ViewBag.Title = "Creativime";
}

@section Scripts{  

<script type="text/javascript">
    

    $(function () {
        $('#UserName').blur(function () {
            if ($("#UserName").val()) {
                $.getJSON("/Account/CheckUserNameAvailability", { userName: $("#UserName").val() },
                function (data) {
                    var error = "";
                    if (data.error == "") {
                        $("#availabilityMessage").html("<span style='color:green;'><img src='../content/images/bullet_accept.png'/> user name available</span>")
                        $("#UserName").removeClass('input-validation-error');
                    }
                    else {
                        $("#UserName").addClass('input-validation-error');
                        $("#availabilityMessage").html("<span style='color:red;'><img src='../content/images/bullet_deny.png'/> user name taken</span>");
                    }
                });
            }
        });

        $("#joinButton").click(function () {
            $("#registrationForm").submit();
        });

    });
</script>
}

<div class="container" style="padding-top:75px;">
    <div class="row">
        <div class="span12">
            <span class="logo xxlarge">Creativime</span>
            <div class="clear row-below large" style="margin-top:75px; line-height:1.3em;">
                The social network for <div class="logo" style="color:#af4646;">creative people!</div>
            </div>
            <div class="row-below medium">
                Share your creations and find inspiration from others. It's free and easy to start sharing. Join today!
            </div>
            <div class="row-below">
                <div style="padding-top:25px;">
                    <div class="pull-left" style="margin-right:50px; text-align:left;">
                        <h3>Sign up with your account below</h3>
                        <!--<div class="medium"><a class="facebookButton logo" href="#" style="color:#536296">Join through Facebook</a></div>-->
                        <!--<span class="medium" style="font-weight:bold;">Sign up with</span><br />-->
                        @*<a class="facebookButton" href="#" title="sign up with Facebook"><img src="@Url.Content("~/content/images/hand_drawn_facebook96.png")" alt="facebook button" /></a>
                        <a class="twitterButton" href="#" title="sign up with Twitter"><img src="@Url.Content("~/content/images/hand_drawn_twitter_follow.png")" alt="twitter button" /></a>*@
                        <div>
                            <a id="facebookButton" href="#" class="facebookButton login-link"><img src="@Url.Content("~/content/images/hand_drawn_facebook64.png")" alt="sign in with Facebook" style="vertical-align:middle; margin-right:5px;" />sign in with Facebook</a>
                        </div>
                        <div class="row-below">
                            <a id="twitterButton" class="twitterButton login-link" href="#"><img src="@Url.Content("~/content/images/hand_drawn_twitter_follow64.png")" alt="sign in with Twitter" style="vertical-align:middle; margin-right:5px;" />
                            sign in with Twitter</a>
                        </div>
                        <br />
                        <!--<div class="fb-facepile" data-app_id="183406445033444" data-width="225" data-max-rows="2"></div>-->
                    </div>
                    <div class="pull-left medium logo" style="margin-right:50px;">or</div>
                    <div class="pull-left medium" style="text-align:center;">
                        <!--<span style="font-weight:bold;">Sign up with your email</span><br />-->
                        <h3>Sign up with your email</h3>
                        <img src="@Url.Content("~/content/images/right.png")" alt="arrow" />
                    </div>
                    
                </div>
                
            </div>
        </div>

        <div class="span4">
            <div style="padding:10px 5px 30px 5px; font-size:18px; line-height:1.5em;">
                <span class="logo large">"If</span> you love to make it, bake it, sketch it, paint it, design it, or whatever, then you'll love <span class="logo medium">Creativime</span>. Everyone here is waiting to see what <span class="logo medium">YOU</span> have done!<span class="logo large">"</span>  
            </div>
            <div class="alert-message block-message" style="width:100%;">
                <h2>Join For Free!</h2>
                &nbsp;
                <div class="clear row-below">
                    @Html.Partial("_RegistrationForm", new Avocado.Web.Models.CreateAccountViewModel())
                    <input id="joinButton" type="submit" class="btn success" value="Sign Up" />
                </div>
            </div>
            
        </div>
    </div>

    <div style="margin-top:45px;">&nbsp;</div>
    <div class="clear row">
        <div class="span16">
            <div class="medium">Start exploring our <span class="logo"><a href="/browse" style="font-size:30px;">creative community</a></span></div>
            <div class="row" style="margin-top:10px;">
                @foreach (var post in Model.Posts) 
                {
                    var userName = post.Account.UserName;
                            
                    <div class="span4">
                        <div class="item-container">
                            @{ var imagePath = @Url.Content("~/Uploads"); }
                            <a href="/Browse/Category/@post.Category.Name/@post.PostId" class="item-profile-link" title="View more work by @post.Account.UserName"><img src="@imagePath/@post.Account.UserId.ToString()/@post.MainImage" class="item-image" alt="" /></a><br />
                            <div class="item-info">
                                <h5 class="title-link"><a href="/Browse/Category/@post.Category.Name/@post.PostId">@((post.Title.Length > 25) ? post.Title.ToString().Substring(0, 25) + "...": post.Title)</a></h5> <!--can be 28 characters long-->
                                <div id="stats" class="item-stats">
                                    <span class="item-likes pull-left" title="likes"><img src="@Url.Content("~/Content/images/heart-small.png")" alt="likes" />@post.Likes.Count()</span>
                                    <span class="item-saves pull-left" title="saves"><img src="@Url.Content("~/Content/images/bookmark-small.png")" alt="saves" />@post.Saves.Count()</span>
                                    <span class="item-comments pull-left" title="comments"><img src="@Url.Content("~/Content/images/comment-small.png")" alt="comments" />@post.Comments.Count()</span>
                                    <span class="item-sparks pull-left" title="sparks are awarded you inspire another creation on Creativime!"><img src="@Url.Content("~/Content/images/spark-small.png")" alt="sparks" />@post.OriginPost.Count()</span>
                                    &nbsp;
                                </div>
                                <div class="item-description">
                                    <a href="/People/ViewWork/@userName"><img class="avatar-small" src="@Url.Content("~/Content/images/man-small.png")" alt="avatar" /></a>
                                    @((post.Description.Length > 90) ? post.Description.ToString().Substring(0, 90) + "..." : post.Description)
                                </div>
                                <div class="item-tags">
                                    <ul>
                                        @foreach (var t in post.TagToPosts)
                                        { 
                                            <li><a href="/Browse/Category/@post.Category.Name/Tag/@t.Tag.Name">@t.Tag.Name</a></li>
                                        }
                                    </ul>
                                </div>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    
</div>

