@model Avocado.Web.Models.Browse.BrowseViewModel
@{
    ViewBag.Title = "Creativime";
    string _accountId = string.Empty; 
    
    
    if (Request.IsAuthenticated)
    {
        _accountId = User.Identity.Name.Split('|')[1];
    }
}

@section Head{
    <script src="@Url.Content("~/Scripts/bootstrap-twipsy.js")" type="text/javascript"></script>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#stats span, item-profile-link').twipsy();
            $('.heart-button').hover(function () {
                $(this).attr('src', '@Url.Content("~/content/images/heart-small-selected.png")').css('cursor', 'pointer');
            },
            function () {
                $(this).attr('src', '@Url.Content("~/Content/images/heart-small.png")');
            });

            var buttonClicked;
            $('.heart-button').click(function () {
                buttonClicked = this;
                $.post("/Browse/Like?postId=" + this.id + "&accountId=@_accountId",
                function (data) {
                    if (data != "") {
                        $(buttonClicked).removeClass('heart-button').addClass('liked');
                        $(buttonClicked).hover(function () {
                            $(this).attr('src', '@Url.Content("~/content/images/heart-small-selected.png")');
                        },
                        function () {
                            $(this).attr('src', '@Url.Content("~/content/images/heart-small-selected.png")');
                        });
                    }
                    else {
                        alert('there was an error trying to like');
                    }
                    //$('div#lastPostsLoader').empty();
                });
            });

            $('.save-button').hover(function () {
                $(this).attr('src', '@Url.Content("~/content/images/bookmark-small-selected.png")').css('cursor', 'pointer');
            },
            function () {
                $(this).attr('src', '@Url.Content("~/Content/images/bookmark-small.png")');
            });

            $('.save-button').click(function () {
                buttonClicked = this;
                $.post("/Browse/Save?postId=" + this.id + "&accountId=@_accountId",
                function (data) {
                    if (data != "") {
                        $(buttonClicked).removeClass('save-button').addClass('saved');
                        $(buttonClicked).hover(function () {
                            $(this).attr('src', '@Url.Content("~/content/images/bookmark-small-selected.png")');
                        },
                        function () {
                            $(this).attr('src', '@Url.Content("~/content/images/bookmark-small-selected.png")');
                        });
                    }
                    else {
                        alert('there was an error trying to save');
                    }
                    //$('div#lastPostsLoader').empty();
                });
            });
        });
    </script>
}

<div class="container">
    <div class="row">
        <div class="span16">
            @Html.Partial("_TabNavigation")
        </div>
    </div>
    
    <div class="row">
        <div class="span12">
            <!--main content will goes here-->
            <h1>Explore Creativime</h1>
            
            @{
                var groupedPosts = Model.Posts.GroupBy(p => p.Category.Name); /*.OrderByDescending(a => a.Key)*/
            }

            @foreach (var category in groupedPosts)
            { 
                <section id="@category.Key" class="browse-section">
                    <div>
                        <div class="pull-left"><h3 class="title-link"><a href="/Browse/Category/@category.Key">@category.Key</a></h3></div>
                        <div class="pull-right"><a href="/Browse/Category/@category.Key" class="btn info small">see more @category.Key</a></div>
                    </div>
                    
                    <div class="row clear-all-floats">
                        @foreach (var post in category) 
                        {
                            var userName = post.Account.UserName;
                            string likeButtonImg = @Url.Content("~/Content/images/heart-small.png");
                            string likeButtonClass = "heart-button";
                            string saveButtonImg = @Url.Content("~/Content/images/bookmark-small.png");
                            string saveButtonClass = "save-button";
                            
                            if (post.Likes.Any(x => x.AccountId == Convert.ToInt32(@_accountId))) 
                            {
                                likeButtonImg = @Url.Content("~/Content/images/heart-small-selected.png");
                                likeButtonClass = "liked";
                            }

                            if (post.Saves.Any(x => x.AccountId == Convert.ToInt32(@_accountId)))
                            {
                                saveButtonImg = @Url.Content("~/Content/images/bookmark-small-selected.png");
                                saveButtonClass = "saved";
                            }
                            
                            <div class="span4">
                                <div class="item-container">
                                    @{ var imagePath = @Url.Content("~/Uploads"); }
                                    <a href="/Browse/Category/@post.Category.Name/@post.PostId" class="item-profile-link" title="View more work by @post.Account.UserName"><img src="@imagePath/@post.Account.UserId.ToString()/@post.MainImage" class="item-image" alt="" /></a><br />
                                    <div class="item-info">
                                        <h5 class="title-link"><a href="/Browse/Category/@post.Category.Name/@post.PostId">@((post.Title.Length > 25) ? post.Title.ToString().Substring(0, 25) + "...": post.Title)</a></h5> <!--can be 28 characters long-->
                                        <div id="stats" class="item-stats">
                                            <span class="item-likes pull-left" title="likes"><img id="@post.PostId" class="@likeButtonClass" src="@likeButtonImg" alt="likes" />@post.Likes.Count()</span>
                                            <span class="item-saves pull-left" title="saves"><img id="@post.PostId" class="@saveButtonClass" src="@saveButtonImg" alt="saves" />@post.Saves.Count()</span>
                                            <span class="item-comments pull-left" title="comments"><img src="@Url.Content("~/Content/images/comment-small.png")" alt="comments" />@post.Comments.Count()</span>
                                            <span class="item-sparks pull-left" title="sparks are awarded when you inspire another creation on Creativime!"><img src="@Url.Content("~/Content/images/spark-small.png")" alt="sparks" />@post.OriginPost.Count()</span>
                                            &nbsp;
                                        </div>
                                        <div class="item-description">
                                            <a href="/People/ViewWork/@userName"><img class="avatar-small" src="@Url.Content("~/Content/images/man-small.png")" alt="avatar" /></a>
                                            @((post.Description.Length > 90) ? post.Description.ToString().Substring(0, 90) + "..." : post.Description)
                                        </div>
                                        <div class="item-tags">
                                            <ul>
                                                @foreach (var t in post.TagToPosts)
                                                { 
                                                    <li><a href="/Browse/Category/@post.Category.Name/Tag/@t.Tag.Name">@t.Tag.Name</a></li>
                                                }
                                            </ul>
                                        </div>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </section>
            }
        </div>
        <div class="span4">
            <!--side content will go here-->
            @Html.Partial("_PostButton")

            <div class="aside">
                <div class="alert-message block-message info">
                    @Html.Partial("_Filters")
                </div>
            </div>
            
        </div>
    </div>
</div>
