@model Avocado.Web.Models.Browse.BrowseViewModel
           
@{
    ViewBag.Title = "Creativime";
    var _imagePath = System.Configuration.ConfigurationManager.AppSettings["AzureStorageUri"]; //+ User.Identity.Name.Split('|')[0]
}

@section Head{
    <script src="@Url.Content("~/Scripts/bootstrap-twipsy.js")" type="text/javascript"></script>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
        
            $('#stats span').twipsy();

            $('#morePostsButton').click(function () {
                lastPostFunc();
            });

            function lastPostFunc() {
                //$('div#lastPostsLoader').html('<img src="bigLoader.gif">');
                $.post("/Browse/GetMorePosts?category=none&lastId=" + $(".latest-post:last").attr("id"),
                    function (data) {
                        if (data != "") {
                            $(".latest-post:last").after(data);
                            $('#stats span').twipsy();
                        }
                        else {
                            alert('no more posts');
                        }
                        //$('div#lastPostsLoader').empty();
                    });
                };
        });
    </script>
}

<div class="container">
    <div class="row">
        <div class="span16">
            @Html.Partial("_TabNavigation")
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <!--main content will goes here-->
            <h1>Explore Creativime</h1>
                    
            <div class="row clear-all-floats">
                @foreach (var post in Model.Posts)
                { 
                    <div class="span4 row-item latest-post" id="@post.PostId">
                        <div class="item-container ic_container">
                            
                            <a href="/Browse/Category/@post.Category.Name/@post.PostId"><img src="@_imagePath/@post.Account.UserName.ToLower()/small/@post.MainImage" class="item-image" alt="" /></a>
                            
                            <br />
                            <div class="item-info">
                                <h5 class="title-link"><a href="/Browse/Category/@post.Category.Name/@post.PostId">@((post.Title.Length > 25) ? post.Title.ToString().Substring(0, 25) + "..." : post.Title)</a></h5> <!--can be 28 characters long-->
                                <div id="stats" class="item-stats">
                                    <span class="item-likes pull-left xsmall" title="likes">@post.Likes.Count() likes</span>
                                    <span class="item-saves pull-left xsmall" title="saves">@post.Saves.Count() saves</span>
                                    <span class="item-comments pull-left xsmall" title="comments">@post.Comments.Count() comments</span>
                                    &nbsp;
                                </div>
                                <div class="item-description">
                                    <a href="/Browse/Category/@post.Category.Name/@post.PostId" style="text-decoration:none; color:#5d5c5c;">
                                        <img class="avatar-small" src="@Url.Content("~/Content/images/man-small.png")" alt="avatar" />
                                        @((post.Description.Length > 90) ? post.Description.ToString().Substring(0, 90) + "..." : post.Description)
                                    </a>
                                </div>
                                <div class="item-tags">
                                    @post.Category.Name<br />
                                </div>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="center-stuff"><button id="morePostsButton" class="primary large btn" style="width:250px; height:40px;">More...</button></div>
        </div>
        <div class="span4">
            <!--side content will go here-->
            @Html.Partial("_PostButton")

            <div class="aside">
                <div class="alert-message block-message info">
                    @Html.Partial("_Filters")
                </div>
            </div>
            <div class="aside">
                @Html.Partial("_ActivityBar")
            </div>
        </div>
    </div>
</div>
