<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/Estilo.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/reveal.css")" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.reveal.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-dropdown.js")" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap-alerts.js" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.infieldlabel.min.js")"></script>
    @RenderSection("Head", required: false)
</head>

<body>
    <div id="fb-root"></div>
    <script type="text/javascript">
        //load JavaScript SDK Asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));

        window.fbAsyncInit = function () {
            FB.init({ appId: '183406445033444', status: true, cookie: true, xfbml: true, oauth: true });

//            /* All the events registered */
//            FB.Event.subscribe('auth.login', function (response) {
//                // if Logged into Facebook do something with response
//                //alert('I just logged into Facebook, now what?');
//                //login();
//            });

//            FB.Event.subscribe('auth.logout', function (response) {
//                // if logged out of Facebook do something with response
//            });
        };

        
    </script>
    <div class="topbar" data-dropdown="dropdown">
        <div class="fill">
            <div class="container">
                <a class="brand" href="#" id="sitename">Creativime</a>
                <ul class="nav">
                    <li>
                        @if (Request.IsAuthenticated) { 
                        <a href="#">Feed</a>
                        }
                    </li>
                    <li class="dropdown">
                        
                        <a class="dropdown-toggle" href="/Browse">Explore</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Browse">All</a></li>
                            <li><a href="/Browse/Category/Crafts">Crafts</a></li>
                            <li><a href="/Browse/Category/Food">Food</a></li>
                            <li><a href="/Browse/Category/Events">Events</a></li>
                            <li><a href="/Browse/Category/Re-Purpose Projects">Re-Purpose Projects</a></li>
                        </ul>
                    </li>
                    <li><a href="/People">People</a></li>
                </ul>

                <div class="pull-right">
                    @Html.Partial("_LoginIndicator", new Avocado.Web.Models.SignInViewModel())
                </div>
            </div>
        </div>
    </div>
    <div class="row-bottom">&nbsp;</div>
    
    <!--each page will define it's own grid system within it's main container-->
    @RenderBody()

    <div class="container">
        <footer>
            <p>&copy; Creativime 2011</p>
        </footer>
    </div>
</body>

<!--all scripts at the bottom of the page-->
<script type="text/javascript">
    $(function () {
        $('#sitename').click(function () {
            window.location = '/';
        });

        $('.facebookButton').click(function () {
            FB.login(function (response) {
                if (response.authResponse) {
                    var accessToken = response.authResponse.accessToken;
                    //user is connected/authorized, now see if they are already signed up with us
                    FB.api('/me', function (response) {
                        window.location = '/Account/LogInWithSocial/?socialId=' + response.id + '&socialNetwork=Facebook&accessToken=' + accessToken;
                    });
                }
                else {
                    // user is not connected/authorized
                    alert('not authorized');
                }
            }, { scope: 'publish_stream,email' });
        });

        $('.twitterButton').click(function () {
            window.location = '/Account/SignInWithTwitter';
        });

        $("label").inFieldLabels();
    });
</script>
@RenderSection("Scripts", required: false)
</html>
