@model Avocado.Web.Models.SignInViewModel

@if (Request.IsAuthenticated)
{ 
    <ul class="nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">Welcome @User.Identity.Name.Split('|')[0]</a>
            <ul class="dropdown-menu">
                <li><a href="/Account/Logout">Logout</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <div style="margin:5px 0 0 0;">
        <button id="modal-button" class="btn primary modal-button">Sign In</button>
        <button id="register-button" class="btn success">New? Join Now!</button>
    </div>
    
    <div id="my-modal" class="reveal-modal xlarge">
        
        <div class="container">
            <div class="row">
                <div class="span8">
                    <h1>Creativime </h1>
                    <h4>Sign in now and start sharing your creativity!</h4>
                    <p>
                        @using (Html.BeginForm("Login", "Account", new { returnUrl = Request.Url }, FormMethod.Post, new { autocomplete = "off", id = "modal-form" }))
                        {
                            @Html.ValidationSummary(excludePropertyErrors: false, message: "", htmlAttributes: new { @class = "ui-state-errors", style = "width:325px; margin-bottom:20px;" })

                            @Html.TextBoxFor(x => x.SignInUserName, new { @class = "form-input", placeholder = "user name" })<br /><br />
        
                            @Html.PasswordFor(x => x.Password, new { @class = "form-input", placeholder = "password" })<br /><br />
    
                            <button id="modal-login-button" class="btn large primary">Sign In</button>
                        }
                        
                    </p>
                </div>
                
                <div class="span6">
                    <h1>Already Social?</h1>
                    <h4>Sign in with your account below</h4>
                    <p>
                        <fb:login-button 
                            autologoutlink="true"
                            size="large" 
                            perms="email,publish_stream">
                            Sign in with Facebook
                        </fb:login-button>
                    </p>
                    <p>
                        <img src="@Url.Content("~/content/images/sign-in-with-twitter-d.png")" alt="sign in with Twitter" id="customTwitterLogin" />
                    </p>
                </div>
            </div>
        </div>

    </div>    
        
    <script type="text/javascript">
        $(function () {
            $("#modal-login-button").click(function () {
                $("#modal-form").submit();
            });

            $('#customFBLogin').click(function () {
                CustomButtonLogin();
            });

            $('#customTwitterLogin').click(function () {
                window.location = '/Account/SignInWithTwitter';
            });

            $('#register-button').click(function () {
                window.location = '/Account/CreateAccount';
            });

            $('#login-button').click(function () {
                window.location = '/Account/LogIn';
            });

            $('.modal-button').click(function (e) {
                e.preventDefault();
                $('#my-modal').reveal({
                    animation: 'fadeAndPop',                   //fade, fadeAndPop, none
                    animationspeed: 400,                       //how fast animtions are
                    closeonbackgroundclick: true
                }); //.effect("bounce", { times: 2, distance: 10 }, 400);
            });
        });
    </script>
}