@model Avocado.Web.Models.CreateAccountViewModel

@using (Html.BeginForm("CreateAccount", "Account", new { social = @Request.QueryString["social"], @at = @Request.QueryString["at"], @as = @Request.QueryString["as"] }, FormMethod.Post, new { autocomplete = "off", id="registrationForm" }))
{ 
    @Html.ValidationSummary(excludePropertyErrors: false, message: "")
    
    <span id="availabilityMessage"></span>
    <div>
        <p>
            <label for="UserName">choose a username</label>
            @Html.TextBoxFor(x => x.UserName)
        </p>
        
    </div>
    
    <br />
    
    <div>
        <p>
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email)
        </p>
        
    </div>        
    
    <br />
        
    <div>
        <p>
            <label for="Password">password</label>
            @Html.PasswordFor(x => x.Password)
        </p>
    </div>
    
}
