@model Avocado.Web.Models.CreateAccountViewModel
           
@{
    ViewBag.Title = "CreateAccount";
}

<script type="text/javascript">
$(function () {
    $('#UserName').blur(function () {
        if ($("#UserName").val()) {
            $.getJSON("/Account/CheckUserNameAvailability", { userName: $("#UserName").val() },
            function (data) {
                var error = "";
                if (data.error == "") {
                    $("#availabilityMessage").html("<span style='color:green;'><img src='../../content/images/bullet_accept.png'/> user name available</span>")
                    $("#UserName").removeClass('input-validation-error');
                }
                else {
                    $("#UserName").addClass('input-validation-error');
                    $("#availabilityMessage").html("<span style='color:red;'><img src='../../content/images/bullet_deny.png'/> user name taken</span>");
                }
            });
        }
    });
});
</script>

<div class="container">
    <h1>
        Join Creativime
    </h1>
        
    <h4>It's free! Join now and start sharing your creativity.</h4>

    @using (Html.BeginForm("CreateAccount", "Account", new { socialNetwork = @Request.QueryString["socialNetwork"], @at = @Request.QueryString["at"], @as = @Request.QueryString["as"], @uid = @Request.QueryString["uid"] }, FormMethod.Post, new { autocomplete = "off" }))
    { 
        @Html.ValidationSummary(excludePropertyErrors: false, message: "", htmlAttributes: new { @class = "alert-message error" })

        @Html.TextBoxFor(x => x.UserName, new { @class = "form-input", placeholder = "choose a user name" })
        <span id="availabilityMessage"></span>
        <br /><br />
        
        @Html.TextBoxFor(x => x.Email, new { @class = "form-input", id = "EmailAddress", placeholder = "email" })
        
        <br /><br />
        
        
        @Html.PasswordFor(x => x.Password, new { @class = "form-input", placeholder = "password" })
        
        <br /><br />
        
        <div>
            <input type="submit" class="btn primary large" value="Join Creativime!" />
        </div>
        
        @Html.HiddenFor(x => x.TwitterId)
    }
</div>

