@model Avocado.Web.Models.CreateAccountViewModel
           
@{
    ViewBag.Title = "CreateAccount";
}

@*<div id="fb-root"></div>
*@
<script type="text/javascript">

    window.fbAsyncInit = function () {
        FB.init({ appId: '183406445033444', status: true, cookie: true, xfbml: true });

        FB.getLoginStatus(function (response) {
            if (response.session) {
                // logged in and connected user, someone you know
                //login();
                //alert('You are logged into Facebook right now');
            }
        });

        FB.api('/me', function (response) {
            $('#EmailAddress').val(response.email);
            $('#FullName').val(response.name);
            $('#Password').val('');
        });
    };


//    (function () {
//        var e = document.createElement('script');
//        e.type = 'text/javascript';
//        e.src = document.location.protocol +
//            '//connect.facebook.net/en_US/all.js';
//        e.async = true;
//        document.getElementById('fb-root').appendChild(e);
//    } ());
    
</script>

<div class="container">
    <h1>
        Join Creativime
    </h1>
        
    <h4>It's free! Join now ans start sharing your creativity.</h4>

    @using (Html.BeginForm("CreateAccount", "Account", new { social = @Request.QueryString["social"], @at = @Request.QueryString["at"], @as = @Request.QueryString["as"] }, FormMethod.Post, new { autocomplete = "off" }))
    { 
        @Html.ValidationSummary(excludePropertyErrors: false, message: "", htmlAttributes: new { @class = "ui-state-error" })

        @Html.TextBoxFor(x => x.Email, new { @class = "form-input", id = "EmailAddress", placeholder="your email address" })
        
        <br /><br />
        
        @Html.TextBoxFor(x => x.FullName, new { @class = "form-input", placeholder = "full name" })
        
        <br /><br />
        
        @Html.PasswordFor(x => x.Password, new { @class = "form-input", placeholder = "password" })
        
        <br /><br />
        
        <div>
            <input type="submit" class="btn primary large" value="Join Creativime!" />
        </div>
    }
</div>

