@model Avocado.Web.Models.ProfileViewModel
           
@{
	ViewBag.Title = "EditProfile";
    var imagePath = System.Configuration.ConfigurationManager.AppSettings["AzureStorageUri"] + User.Identity.Name.Split('|')[0] + "/profile/" + Model.ProfileImage;
}

@section Head{
    <link href="../../Content/css/fileuploader.css" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div class="row">
        <div class="span4">
            <div>
                @{
                    if (Model.ProfileImage != null)
                    {
                        <img id="profilePic" class="pic-frame" src="@imagePath" alt="profile pic" />
                    }
                    else 
                    { 
                        <img id="profilePic" class="pic-frame" src="@Url.Content("~/content/images/user-large.png")" alt="profile pic" />
                    }
                }
            </div>
            <div id="file-uploader">                      <noscript><p>Please enable JavaScript to use file uploader.</p></noscript>                     </div>
        </div>
        <div class="span12">
            <div id="message" class="alert-message">
              <a id="closeMessage" class="close" href="#">×</a>
              <p></p>
            </div>

            <h2>Update Your Profile</h2>
            
            <div class="row-below">
                @using (Html.BeginForm("UpdateProfile", "Account", FormMethod.Post, new { id="profileForm", name="profileForm" }))
                {
                    <p class="form-input">
                            <label for="FirstName" style="width:200px">first name</label>
                            @Html.TextBoxFor(x => x.FirstName)
                    </p>
                    <br />
                    <p class="form-input">
                            <label for="LastName" style="width:200px">last name</label>
                            @Html.TextBoxFor(x => x.LastName)
                    </p>
                    <br />
                    <p class="form-input">
                            <label for="Bio" style="width:300px">Tell us about yourself...</label>
                            @Html.TextAreaFor(x => x.Bio, 10, 40, new { @class = "profileTextArea" })
                    </p>
                    <br />
                    <p class="form-input">
                            <label for="PersonalUrl" style="width:300px">Your website or blog</label>
                            @Html.TextBoxFor(x => x.PersonalUrl)
                    </p>
                    <br />
                    
                    <p>
                        <input id="saveButton" type="button" class="btn primary large" value="Save Profile" />
                    </p>
                    
                    @Html.HiddenFor(x => x.ProfileImage)
                }
            </div>
            
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/fileuploader.js")"></script>
    <script type="text/javascript">
        $(function () {
            var uploader = new qq.FileUploader({
                allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                sizeLimit: 7340032,
                minSizeLimit: 1,
                element: document.getElementById('file-uploader'),
                action: '/Account/UploadFiles',
                onProgress: function (id, fileName, loaded, total) { },
                onComplete: function (id, fileName, responseJSON) {
                    if (responseJSON.success) {
                        $('#ProfileImage').attr('value', fileName);
                        $('#profilePic').attr('src', responseJSON.imgPath);
                        $('#little-profile-pic').attr('src', responseJSON.littleImgPath + '?' + Math.random());
                        $('.qq-upload-list').empty();
                        //alert('upload completed! the new file path is ' + responseJSON.imgPath);
                    }
                }
            });

            $('#message').hide();

            $('#closeMessage').click(function () {
                $('#message').fadeOut('slow');
            });

            $('#saveButton').click(function () {
                UpdateProfile();
            });
        });

        function UpdateProfile() {
            var formData = $("#profileForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Account/UpdateProfile",
                data: formData,
                dataType: "json",
                success: function (data) {
                    if (data.success == true) {
                        $('#message p').html(data.message);
                        $('#message').addClass('success');
                        $('#message').fadeIn('slow');
                        //alert(data.message);
                    }
                    else {
                        $('#message p').html(data.message);
                        $('#message').addClass('error');
                        $('#message').fadeIn('slow');

                        //alert(data.message);
                    }
                }
            });
        }
    </script>
}
